*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: skyblue;
    font-family: "Montserrat", sans-serif;
    min-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 4rem auto 7rem;
    text-align: center;
}

.heading{
    color: #4d0000;
}

.description {
    font-size: larger;
    margin: 1rem;
}

.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
}

.input {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem, 1rem;
    margin: 1rem;
    border: 2px solid #7c3aed;
}

.description {
    font-size: large;
    margin: 1rem;
}

.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
}

.input {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid #7c3aed;
    border-radius: 0.5rem;
    width: 100%;
}

#check-here {
    background-color: #7c3aed;
    border: none;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: white;
    margin: auto;
    display: block;
}

#error-message {
    display: block;
    font-size: x-large;
    margin: 1rem 0 0;
}

th,td {
    border:2px solid #7c3aed;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}